.navbar {
  left: 100px;
  right: 100px;
  width: 86.8% !important;
  border-bottom-width: 2px !important;
}

.navbar-brand img {
  width: 150px;
}

.nav {
  transition-duration: 0.5s;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: gold;
}

.btn {
  transition-duration: 0.2s;
  font-family: "Cal Sans", sans-serif;
  border-radius: 0;
  padding: 10px 20px 10px 20px;
  background-color: gold;
}

.btn:hover {
  color: #000000;
  background-color: #fff;
}

.uppercase {
  text-transform: uppercase;
  font-weight: bold;
}

/* Hero section */
.hero {
  padding-top: 150px;
}

.hero .main-title {
  font-size: 60px !important;
}

.hero .des {
  color: rgba(159, 159, 159, 0.706) !important;
  padding-left: 100px !important;
}

.hero .btn {
  margin-left: 100px;
}


/* See our gallery gym section */
.gallery-container {
  padding: 100px 0;
}

.gallery-container .title {
  gap: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.gallery-container .title::after {
  content: "";
  width: 50%;
  height: 5px;
  background-color: gold;
  display: block;
}
.gallery-container .title::before {
  content: "";
  width: 50%;
  height: 5px;
  background-color: gold;
  display: block;
}

.all-gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
}

.img-container {
  width: 400px;
  height: 400px;
  transition: all 0.5s;
  overflow: hidden;
}

.all-gallery img {
  filter: grayscale(1);
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  object-fit: cover;
}

.all-gallery .img-container:hover {
  border: 2px solid gold;
}

.img-container img:hover {
  scale: 1.1;
  filter: grayscale(0);
}

/* Section choose money */
.block-title {
  width: 40%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.block-title .des {
  padding: 0 !important;
}

.block-money {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 50px;
  border: 2px solid gold;
  width: 40%;
}

.money-title {
  font-size: 30px !important;
}

.money-des {
  padding: 0 !important;
}

.money-list li {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 !important;
  color: #fff;
}

.money-list li img {
  width: 20px;
  height: 20px;
}

.price {
  padding-top: 50px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

.btn-money {
  background-color: gold;
  padding: 15px 50px;
}







/* Map section */
.map-container {
  padding: 150px 0;
}

.map-container .map {
  height: 700px;
  filter: invert(5);
}

/* Contact Section */
.contact-container {
  padding: 150px 0;
}

.phone-Number {
  padding: 0 !important;
}

.contact-container .block-left {
  padding: 0 !important;
}

.block-left .title {
  justify-content: start;
}

.contact-container .block-left .des {
  padding: 0 !important;
}

.block-right {
  padding: 100px;
  width: 20%;
  border: 100px solid var(--Gold-color);
}

.block-right .layer {
  width: 100%;
  height: 100%;
  background-color: var(--Gold-color);
}

/* Carousel Section */
.carousel-container {
  padding: 150px 0;
}

/* Footer section */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px !important;
  background-color: var(--Gold-color);
}

.footer-container .des {
  font-size: 20px !important;
  font-weight: 600;
  color: rgb(0, 0, 0) !important;
}

.nav-link {
  position: relative;
  padding: 0 !important;
  color: #fff;
}

.nav-link::after {
  content: "";
  width: 50%;
  display: block;
  position: absolute;
  bottom: 0;
  right: -100%;
  transition-duration: 0.5s;
  height: 2px;
  background-color: var(--Gold-color);
}

.nav-link::before {
  content: "";
  width: 50%;
  display: block;
  position: absolute;
  left: -100;
  bottom: 0;
  transition-duration: 0.5s;
  height: 2px;
  background-color: var(--Gold-color);
}

.nav-link:hover {
  color: gold;
}

.nav-link:hover::after {
  right: 0 !important;
}

.nav-link:hover::before {
  left: 0 !important;
}




@media (max-width: 1024px){
  .navbar {
    padding: 20px 20px !important;
    left: 0 !important;
    width: 100% !important;
  }
  .nav-item {
    margin: 20px auto !important;
  }
  .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
      left: 0 !important;
      padding: 0 20px;
      width: 100% !important;
  }
  
  .nav-item {
      margin: 10px auto !important;
  }

  /* Hero Section */
  .hero .hero-left {
      width: 100% !important;
  }

  .hero-left .main-title {
      padding-bottom: 20px !important;
      font-size: 45px !important;
  }

  .hero-left .des {
      padding-left: 45px !important;
  }

  .hero-right {
      margin-top: 30px !important;
      padding: 20px !important;
      width: 100% !important;
  }

  .hero-right img {
      width: 100% !important;
  }

  /* Gallery Section */
  .gallery-container {
      padding: 20px !important;
  }

  .gallery-container .title {
      gap: 10px !important;
      font-size: 20px !important;
  }

  .container-contact {
    width: 100% !important;
  }
  .collapse{
    display: flex;
    justify-content: center !important;
    align-items: center;
  }
  
}